@import 'reset';
@import 'form';
@import 'choice';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700;800&display=swap');

header {
    padding-top: 16px;
    padding-left: 16px;
    display: flex;
    align-items: center;

    li {
        font-size: 24px;
        font-weight: 800;
    }
}

main {
    margin-top: 43px;
    display: flex;
    justify-content: center;
}

.bg-selected {
    background-color: #000;
    color: white;
}